@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #0077b6;
  --color-secondary: #f77f00;
  --color-background: #f8f9fa;
  --color-text: #212529;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--color-background);
  color: var(--color-text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

